//
// Variables
// --------------------------------------------------

//== Colors
//
//## Colors for use across the site.

$black:                             #000;
$gray-base:                         #000 !default;
$gray-darker:                       lighten($gray-base, 13.5%) !default; // #222
$gray-dark:                         lighten($gray-base, 20%)   !default; // #333
$gray:                              lighten($gray-base, 33.5%) !default; // #555
$gray-light:                        lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:                      lighten($gray-base, 93.5%) !default; // #eee
$white:                             #fff;

$brand-primary:                     #1c3f5b !default;
$brand-primary-light:               #b1c2d6 !default;
$brand-success:                     #1b6861 !default;
$brand-info:                        #1d6372 !default;
$brand-warning:                     #8b8e1d !default;
$brand-danger:                      #682C2a !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:                           #fff !default;
//** Global text color on `<body>`.
$text-color:                        $gray-dark !default;

//** Global textual link color.
$link-color:                        $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:                  darken($link-color, 20%) !default;
//** Link hover decoration.
$link-hover-decoration:             underline !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:            'Open Sans', Helvetica, Arial, sans-serif !default;
$font-family-serif:                 'Buxton Sketch', Georgia, 'Times New Roman', Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:             Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-base:                  $font-family-sans-serif !default;

$font-size-base:                    14px !default;
$font-size-large:                   ceil(($font-size-base * 1.25)) !default;  // ~18px
$font-size-small:                   ceil(($font-size-base * 0.85)) !default;  // ~12px

$font-size-h1:                      floor(($font-size-base * 2.6)) !default;  // ~36px
$font-size-h2:                      floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:                      ceil(($font-size-base * 1.7)) !default;   // ~24px
$font-size-h4:                      ceil(($font-size-base * 1.25)) !default;  // ~18px
$font-size-h5:                      $font-size-base !default;
$font-size-h6:                      ceil(($font-size-base * 0.85)) !default;  // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:                  1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:              floor(($font-size-base * $line-height-base)) !default; // ~20px

//** Heading default styles
$headings-font-family:              $font-family-serif !default;
$headings-font-weight:              500 !default;
$headings-line-height:              1.1 !default;
$headings-color:                    inherit !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:             5px !default;
$padding-base-horizontal:           10px !default;

$padding-large-vertical:            10px !default;
$padding-large-horizontal:          20px !default;

$padding-small-vertical:            5px !default;
$padding-small-horizontal:          10px !default;

$padding-xs-vertical:               1px !default;
$padding-xs-horizontal:             5px !default;

$line-height-large:                 1.5 !default;
$line-height-small:                 1.3333333 !default; // extra decimals for Win 8.1 Chrome

$border-radius-small:               3px !default;
$border-radius-base:                4px !default;
$border-radius-large:               6px !default;

//== Buttons
//
//## For each of buttons elements, define text, background and border color.

$btn-font-weight:                   normal !default;

$btn-default-color:                 #333 !default;
$btn-default-bg:                    #fff !default;
$btn-default-border:                #ccc !default;

$btn-primary-color:                 #fff !default;
$btn-primary-bg:                    $brand-primary !default;
$btn-primary-border:                darken($btn-primary-bg, 5%) !default;

$btn-success-color:                 #fff !default;
$btn-success-bg:                    $brand-success !default;
$btn-success-border:                darken($btn-success-bg, 5%) !default;

$btn-info-color:                    #fff !default;
$btn-info-bg:                       $brand-info !default;
$btn-info-border:                   darken($btn-info-bg, 5%) !default;

$btn-warning-color:                 #fff !default;
$btn-warning-bg:                    $brand-warning !default;
$btn-warning-border:                darken($btn-warning-bg, 5%) !default;

$btn-danger-color:                  #fff !default;
$btn-danger-bg:                     $brand-danger !default;
$btn-danger-border:                 darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color:           $gray-light !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:            $border-radius-base !default;
$btn-border-radius-large:           $border-radius-large !default;
$btn-border-radius-small:           $border-radius-small !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:            #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:               $brand-primary !default;

//== Forms
//
//##

//** `<input>` background color
$input-bg:                          #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:                 $gray-lighter !default;

//** Text color for `<input>`s
$input-color:                       $gray !default;
//** `<input>` border color
$input-border:                      #ccc !default;

//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:               $border-radius-base !default;
//** Large `.form-control` border radius
$input-border-radius-large:         $border-radius-large !default;
//** Small `.form-control` border radius
$input-border-radius-small:         $border-radius-small !default;

//** Border color for inputs on focus
$input-border-focus:                #66afe9 !default;

//** Placeholder text color
$input-color-placeholder:           #999 !default;

//** Default `.form-control` height
$input-height-base:                 ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
//** Large `.form-control` height
$input-height-large:                (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$input-height-small:                (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

//** `.form-group` margin
$form-group-margin-bottom:          15px !default;

$legend-color:                      $gray-dark !default;
$legend-border-color:               #e5e5e5 !default;

//** Background color for textual input addons
$input-group-addon-bg:              $gray-lighter !default;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                   not-allowed !default;

//** breakpoints start
$xs-breakpoint:                     320px;
$sm-breakpoint:                     481px;
$md-breakpoint:                     640px;
$lg-breakpoint:                     767px;
$xl-breakpoint:                     960px;
