include ../_dev/common
include ../_atoms/common
doctype html
= "\n\r"
<html lang="en">
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  title= projectName
  block fonts
  // build:remove 
  block bowerStyles
  // /build 
  +replaceTpl('markup')
    block markupStyles
  // build:css:build css/my-project.min.css 
  block styles
    link(rel="stylesheet", href="css/all.css")
  // /build 
  = "\n\r  "
  +ie('if IE 9')
    link(rel="stylesheet", href="css/ie9.css")
  // build:remove 
  = "\n\r  "
  +ie('if lt IE 9')
    link(rel="stylesheet", href="css/ie.css")
    script(src="../bower_components/respond/dest/respond.src.js")
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
  // /build 
  +ieTpl
body
  block body
  // build:remove
  script(src="js/app.bundle.js")
  // /build 
  +replaceTpl('build')
    script(src="js/my-project.min.js")
!= "\n\r</html>"