include ../_dev/common
include ../_atoms/common
doctype html
= "\n\r"
<html lang="en">
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  title= projectName
  block fonts
  // build:remove 
  block bowerStyles
  // /build 
  +replaceTpl('markup')
    block markupStyles
  // build:css:build css/test-gulp-babel.min.css 
  block styles
    link(rel="stylesheet", href="css/all.css")
  // /build 
  = "\n\r  "
  +ie('if IE 9')
    link(rel="stylesheet", href="css/ie9.css")
  // build:remove 
  // /build 
  +ieTpl
body
  block body
  // build:remove 
  block bowerScripts
    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/jquery-placeholder/jquery.placeholder.js")
    script(src="../bower_components/retina.js/dist/retina.min.js")
  // /build 
  +replaceTpl('markup')
    block markupScripts
      script(src="js/plugins/jquery.min.js")
      script(src="js/plugins/jquery.placeholder.min.js")
      script(src="js/plugins/retina.min.js")
  // build:remove:build 
  //include plugins
  block pluginsScripts 
    script(src="js/1-jquery.utilities.js")
  //init plugins
  block initScripts
    script(src="js/jquery.init-plugins.js")
  // /build 
  +replaceTpl('build')
    script(src="js/test-gulp-babel.min.js")
!= "\n\r</html>"