include ../_dev/common
doctype html
= "\n\r"
<html lang="en">
head
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  meta(charset="utf-8")
  block title
    - var title = 'AbstractView Cranes'
  title= title
  block fonts
  // build:remove&nbsp
  block bowerStyles
    link(rel="stylesheet", href="../bower_components/perfect-scrollbar/css/perfect-scrollbar.css")
  // /build
  +replaceTpl('markup')
    block markupStyles
      link(rel="stylesheet", href="css/customScroll/perfect-scrollbar.css")
  // build:css:build css/avi-cranes.min.css
  block styles
    link(rel="stylesheet", href="css/all.css")
  // /build
  = "\n\r  "
  // build:remove&nbsp
  // /build
  +ieTpl
body
  block body
  // build:remove&nbsp
  block bowerScripts
    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/jquery-placeholder/jquery.placeholder.js")
    script(src="../bower_components/hammerjs/hammer.min.js")
    script(src="../bower_components/retina.js/dist/retina.min.js")
    script(src="../bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.js")
    script(src="../bower_components/tablesorter/jquery.tablesorter.min.js")
  // /build
  +replaceTpl('markup')
    block markupScripts
      script(src="js/plugins/jquery.min.js")
      script(src="js/plugins/jquery.placeholder.min.js")
      script(src="js/plugins/hammer.min.js")
      script(src="js/plugins/retina.min.js")
      script(src="js/plugins/perfect-scrollbar.jquery.min.js")
      script(src="js/plugins/jquery.tablesorter.min.js")
      script(src="js/2-jquery.tabs.js")
      script(src="js/3-jquery.slider.js")
      script(src="js/4-jquery.slideshow.js")
      script(src="js/5-jquery.validation.js")
      script(src="js/1-jquery.utilities.min.js")
  // build:remove:build
  //include plugins
  block pluginsScripts
    script(src="js/1-jquery.utilities.js")
    script(src="js/2-jquery.tabs.js")
    script(src="js/3-jquery.slider.js")
    script(src="js/4-jquery.slideshow.js")
    script(src="js/5-jquery.validation.js")

  //init plugins
  block initScripts
    script(src="js/jquery.init-plugins.js")
  // /build
  +replaceTpl('build')
    script(src="js/avi-cranes.min.js")
!= "\n\r</html>"