include ../_dev/common
doctype html
= "\n\r"
<html lang="en">
head
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  meta(charset="utf-8")
  block title
    - var title = 'AbstractView Cranes'
  title= title
  block fonts
  // build:remove&nbsp
  block bowerStyles
    link(rel="stylesheet", href="../bower_components/perfect-scrollbar/css/perfect-scrollbar.css")
  // /build
  +replaceTpl('markup')
    block markupStyles
      link(rel="stylesheet", href="css/customScroll/perfect-scrollbar.css")
  // build:css:build css/avi-cranes.min.css
  block styles
    link(rel="stylesheet", href="css/all.css")
  // /build
  = "\n\r  "
  // build:remove&nbsp
  // /build
  +ieTpl
body
  block body
  script(src="js/app.bundle.js")
!= "\n\r</html>"