footer.footer-main.sticky-footer
  .item-table
    .item-cell
      .container
        nav.full-nav
          ul.list
            li
              h2.h4.list-title About us
              ul.list.list-of-columns
                li
                  a(href="about-template.html") About Avi Cranes
                li
                  a(href="about-history.html") History
                li
                  a(href="about-jobs.html") Jobs
                li
                  a(href="contact-us.html") Contact Us
            li
              h2.h4.list-title Cranes Division
              ul.list.list-of-columns
                li
                  a(href="cranes-about.html") About Cranes Division
                li
                  a(href="cranes-crawlers.html") Cranes
                li
                  a(href="cranes-for-sale.html") For Sale
                li
                  a(href="cranes-order.html") Order a Crane
            li
              h2.h4.list-title heavy transport
              ul(data-col-number="2").list.list-of-columns
                li
                  a(href="heavy-about.html") About
                li
                  a(href="access-platforms-truck-mounted.html") Truck Mounted
                li
                  a(href="access-platforms-scissors.html") Scissors
                li
                  a(href="heavy-order.html") For Sale
                li
                  a(href="access-platforms.html") Boom Lifts
                li
                  a(href="heavy-order.html") Order
                li
                  a(href="access-platforms-vertical.html") Vertical
              span.copyright.is-hidden.is-xl-visible 2015 &copy; All Rights Reserved
            li
              h2.h4.list-title Access Platforms
              ul(data-col-number="2").list.list-of-columns
                li
                  a(href="access-platforms-about.html") About
                li
                  a(href="access-platforms-truck-mounted.html") Truck Mounted
                li
                  a(href="access-platforms-scissors.html") Scissors
                li
                  a(href="access-platforms-for-sale.html") For Sale
                li
                  a(href="access-platforms.html") Boom Lifts
                li
                  a(href="access-platforms-buy-used.html") Order
                li
                  a(href="access-platforms-vertical.html") Vertical
        include ../_molecules/main-info
        ul.list.list-inline.list-delimited.developers
          li Designed by&nbsp;
            a(href="#") Three Bears
          li Developed by&nbsp;
            a(href="#") Simple Idea
        span.copyright.is-xl-hidden 2015 &copy; All Rights Reserved