extends _modules/layout
block title
  - title = "About history"
//  - pageName = "about-history"
block body
  - isAboutUs = true
  - isAboutHistory = true
  //wrapper starts
  .wrapper.is-black(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    section(data-shifted-elements data-history-tabs).visual-block-wrapper.history
      ul.list.list-with-bullets.time-line.time-line-5(data-tab-nav)
        li.tab-is-active
          span(data-tab-link="#tab-1") 1943
        li
          span(data-tab-link="#tab-2") 1945s
        li
          span(data-tab-link="#tab-3") 1941
        li
          span(data-tab-link="#tab-4") 195s
        li
          span(data-tab-link="#tab-5") 1953
        li
          span(data-tab-link="#tab-6") 1956
        li
          span(data-tab-link="#tab-7") 1962
        li
          span(data-tab-link="#tab-8") 1978
        li
          span(data-tab-link="#tab-9") 1988
        li
          span(data-tab-link="#tab-10") 1995
        li
          span(data-tab-link="#tab-11") 2003
        li
          span(data-tab-link="#tab-12") 2011
      .visual-block-inner-wrapper
        .container
          header.visual-block-header
            ul.list.list-inline.list-delimited.breadcrumbs-xl
              li
                a(href="index.html") Avi cranes
              li
                a(href="about-template.html")
                  span.is-lg-hidden about
                  span.is-hidden.is-lg-inline-visible about us
              li History
            h1.heading-complementary History
        article(id="tab-1").visual-block
          .visual-block-img.visual-block-history
            img(src="images/content/img-visual-block-1.png" width="320" height="320" alt="image description").responsive-img.is-visible.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1943
              p The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-2") 1945
        article(id="tab-2").visual-block
          .visual-block-img.visual-block-history-2
            img(src="images/content/img-visual-block-1-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1945
              p The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-1") 1943
                li
                  span(data-tab-link="#tab-3") 1948
        article(id="tab-3").visual-block
          .visual-block-img.visual-block-history
            img(src="images/content/img-visual-block-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1948
              p The number 1 Hefe-Weissbier in Germany and one of the world’s favourites.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-2") 1945
                li
                  span(data-tab-link="#tab-4") 1951
        article(id="tab-4").visual-block
          .visual-block-img.visual-block-history-2
            img(src="images/content/img-visual-block-1-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1951
              p The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-3") 1948
                li
                  span(data-tab-link="#tab-5") 1953
        article(id="tab-5").visual-block
          .visual-block-img.visual-block-history
            img(src="images/content/img-visual-block-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1953
              p The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-4") 1951
                li
                  span(data-tab-link="#tab-6") 1956
        article(id="tab-6").visual-block
          .visual-block-img.visual-block-history-2
            img(src="images/content/img-visual-block-1-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1956
              p The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-5") 1953
                li
                  span(data-tab-link="#tab-7") 1962
        article(id="tab-7").visual-block
          .visual-block-img.visual-block-history
            img(src="images/content/img-visual-block-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1962
              p The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-6") 1956
                li
                  span(data-tab-link="#tab-8") 1978
        article(id="tab-8").visual-block
          .visual-block-img.visual-block-history-2
            img(src="images/content/img-visual-block-1-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1978
              p The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-7") 1962
                li
                  span(data-tab-link="#tab-9") 1988
        article(id="tab-9").visual-block
          .visual-block-img.visual-block-history
            img(src="images/content/img-visual-block-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1988
              p The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-8") 1978
                li
                  span(data-tab-link="#tab-10") 1995
        article(id="tab-10").visual-block
          .visual-block-img.visual-block-history-2
            img(src="images/content/img-visual-block-1-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 1995
              p The number 1 Hefe-Weissbier in The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana. head of foam. At the first mouthful this Weissbier classic has a mild aroma of banana.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-9") 1988
                li
                  span(data-tab-link="#tab-11") 2003
        article(id="tab-11").visual-block
          .visual-block-img.visual-block-history
            img(src="images/content/img-visual-block-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 2003
              p Cloudy and shining silky gold in the glass under a really strong head of. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally  foam. At the first mouthful this Weissbier classic has a mild aroma of banana.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-10") 1995
                li
                  span(data-tab-link="#tab-12") 2011
        article(id="tab-12").visual-block
          .visual-block-img.visual-block-history
            img(src="images/content/img-visual-block-1.png" width="320" height="320" alt="image description").responsive-img.is-xl-hidden
          .visual-block-main
            .visual-block-content
              h2.heading-auxiliary.visual-block-heading 2011
              p At the first mouthful this Weissbier classic has a mild aroma of banana. The number 1 Hefe-Weissbier in Germany and one of the world’s favourites. Naturally cloudy and shining silky gold in the glass under a really strong head of foam.
              ul.list.list-inline.list-underlined.visual-block-navigation
                li
                  span(data-tab-link="#tab-11") 2003
  include _organisms/footer