extends _modules/layout
block title
  - title = "About vision"
block body
  - isAboutUs = true
  - isAboutVision = true
  //wrapper starts
  .wrapper.is-black(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    article(data-shifted-elements).visual-block.visual-block-with-bg.visual-block-vision.vision
      .container
        header.visual-block-header
          ul.list.list-inline.list-delimited.breadcrumbs
            li
              a(href="index.html") Avi cranes
            li
              a(href="about-template.html")
                span.is-lg-hidden about
                span.is-hidden.is-lg-inline-visible about us
            li vision
          h1.heading-complementary The vision
        .visual-block-img
          img(src="images/content/img-visual-block-2.jpg" width="320" height="360" alt="image description").responsive-img.scalable-img.is-lg-hidden
        .visual-block-main
          .visual-block-content
            blockquote(cite="#").blockquote.blockquote-alternative
              h2.accessibility Quote of AVI
              q.quote “Keep your dreams alive. Understand to achieve anything requires faith hard work, determination and dedication.”
              cite.cite
                span.h5.big.is-highlighted AVI JOCHANAN
                | DREAMER & FOUNDER, AVI CRANES
            nav.nav-secondary.is-hidden.is-lg-inline-visible
              h3.accessibility Secondary navigation
              ul.list.list-inline.list-delimited-vertical
                li
                  a(href="about-template.html") About Avi Cranes
                li
                  a(href="about-history.html") Our History
                li
                  a(href="about-jobs.html") Jobs at Avi Cranes
                li
                  a(href="contact-us.html") Contact Us
  include _organisms/footer