extends _modules/layout
block title
  - title = "Access platforms scissors"
block body
  - isAccessPlatforms = true
  - isAccessPlatformsScissors = true
  //wrapper starts
  .wrapper(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    main(data-shifted-elements).content.no-bottom-indents-md
      .container
        header.content-header
          ul.list.list-inline.list-delimited.breadcrumbs
            li
              a(href="index.html") Avi cranes
            li
              a(href="access-platforms-about.html")
                span.is-lg-hidden acces platformsS
                span.is-hidden.is-lg-inline-visible acces platformsS
            li scissors acceSs platforms
          h1 Scissors Access Platforms
        div(data-carousel-holder).two-column-layout.full-width
          .grid-col-xs-12.no-side-indents.grid-custom-col-1.is-hidden.is-md-visible
            span.separator.is-hidden.is-lg-visible.left.with-bottom-indent
            .checkbox-inline
              label.label-of-group Filter Results
            .checkbox-inline
              input.checkbox-input(type="checkbox" id="checkbox-1")
              label.checkbox-label(for="checkbox-1") Electrical
            .checkbox-inline
              input.checkbox-input(type="checkbox" id="checkbox-2")
              label.checkbox-label(for="checkbox-2") Diesel
            span.separator.is-hidden.is-lg-visible.left.with-top-indent
            div(data-custom-scroll).table-responsive.table-with-fixed-height.table-with-sub-row
              table(data-table-sorting).table
                caption.accessibility table #1
                thead.table-head
                  tr
                    th.col-1 Model
                    th.col-2 Working height
                    th.col-3 Machine Weight
                    th Platform size
                    th Max Load
                tbody.table-body.carousel-pagination
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                  tr(data-carousel-pagination-link)
                    td.col-1
                      .main-row 1611 atj
                      .sub-row-illustrate.sub-row
                        img(src="images/content/img-slider-3-mini.jpg" width="100" height="111" alt="image description").responsive-img
                    td.col-2
                      .main-row 7.79m
                      .sub-row.sub-row-content
                        h2.product-item-heading MRT 260
                    td.col-3
                      .main-row 1550kg
                      .sub-row.sub-row-content
                        .sub-row-content-text
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                    td.col-4
                      .main-row 30m
                      .sub-row.sub-row-content
                        a(href="#").btn.btn-info.btn-block DOWNLOAD
                    td.col-5
                      .main-row 230kg
                      .sub-row.sub-row-content
                        a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
          .grid-col-xs-12.no-side-indents.grid-custom-col-2.is-md-hidden.is-xl-visible
            article.carousel
              .carousel-content
                button(data-carousel-prev).btn-prev.ico-chevron-black
                div(data-carousel-mask).carousel-mask
                  ul(data-carousel).slideset
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                    li
                      .product-item
                        img(src="images/content/img-slider-3.jpg" width="322" height="368" alt="image description").responsive-img
                        .product-item-caption
                          h2.h1.product-item-heading MRT 260
                          p The 120 AETJ C is a compact (1.2 meters wide) articulated platform with a working height of 12 meters, which is ideal for operating in narrow and restricted areas.
                        .grid-row
                          .grid-col-xs-7.grid-col-xl-12.grid-col-xxl-7
                            a(href="#").btn.btn-info.btn-block
                              span.is-hidden.is-sm-visible DOWNLOAD TECHNICAL DATA
                              span.is-sm-hidden DOWNLOAD
                          .grid-col-xs-5.grid-col-xl-12.grid-col-xxl-5
                            a(href="access-platforms-buy-used.html").btn.btn-primary.btn-block ORDER
                button(data-carousel-next).btn-next.ico-chevron-black
  include _organisms/footer