extends _modules/layout
block title
  - title = "Cranes about"
block body
  - isCranesDivision = true
  - isCranesAbout = true
  //wrapper starts
  .wrapper(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    article(style="background-image: url('images/backgrounds/bg-promo-2.jpg');").promo
      .promo-content
        .promo-mobile-image
          img(src="images/backgrounds/bg-promo-2.jpg" alt="image description").responsive-img.scalable-img.is-lg-hidden
          h1.promo-heading.heading-complementary CRANES DIVISION
        p.lead Naval Surface Warfare Center Crane Division is the principal tenant command located at Naval Support Activity Crane. NSA Crane is a United States Navy installation located approximately 25 miles (40 km) southwest of Bloomington, Indiana and predominantly located in Martin County
        .h4.heading-block
          .heading-complementary.promo-sub-heading Customer Service  +972 3 9597700
        a(href="cranes-order.html").btn.btn-primary.btn-long.btn-with-shadow ORDER A CRANE
    main(data-shifted-elements).main-content
      .text-center
        h2.h3.heading-with-border Choose a Crane Type
      ul.list.list-with-thumbnails.grid-row.fixed-big-width.with-bottom-indent
        li.grid-col-lg-4
          a(href="cranes-rough-terrain.html")
            figure.thumbnail
              img(src="images/content/img-thumbnail-1.jpg" alt="image description" width="180" height="155").responsive-img
              figcaption.thumbnail-caption ROUGH TERRAIN
        li.grid-col-lg-4
          a(href="cranes-hydraulic.html")
            figure.thumbnail
              img(src="images/content/img-thumbnail-2.jpg" alt="image description" width="180" height="155").responsive-img
              figcaption.thumbnail-caption HYDRAULIC
        li.grid-col-lg-4
          a(href="cranes-crawlers.html")
            figure.thumbnail
              img(src="images/content/img-thumbnail-3.jpg" alt="image description" width="180" height="155").responsive-img
              figcaption.thumbnail-caption CRAWLER
  include _organisms/footer