extends _modules/layout
block title
  - title = "Cranes rough terrain"
block body
  - isCranesDivision = true
  - isCranesRoughTerrain = true
  //wrapper starts
  .wrapper(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    main.content(data-shifted-elements)
      .container
        header.content-header
          ul.list.list-inline.list-delimited.breadcrumbs
            li
              a(href="index.html") Avi cranes
            li
              a(href="cranes-about.html")
                span.is-lg-hidden cRANES DIVISION
                span.is-hidden.is-lg-inline-visible cRANES DIVISION
            li ROUGH TERrAIN CRANES
          h1 Rough Terrain Cranes
        .two-column-layout
          .grid-col-xs-12.grid-col-lg-7.no-side-indents
            span.separator.is-hidden.is-lg-visible.left
            .content-main
              p A crane mounted on an undercarriage with four rubber tires that is designed for pick-and-carry operations and for off-road and "rough terrain" applications. Outriggers are used to level and stabilize the crane for hoisting. These telescopic cranes are single-engine machines, with the same engine powering the undercarriage and the crane, similar to a crawler crane.
            .grid-row
              .grid-col-xs-6.grid-col-md-4
                h2.h4.list-title 30 to 60 Ton
                ul.list.list-of-columns
                  li
                    a(href="#") Valla 75 E
                  li
                    a(href="#") Valla 180 E
                  li
                    a(href="#") Ormig T33
                  li
                    a(href="#") Grove model 24
                  li
                    a(href="#") Kobelco RK 70
                  li
                    a(href="#") Grove AP 308
                  li
                    a(href="#") Krupp 12 GMT-I
                  li
                    a(href="#") Krupp KMK 2025
                  li
                    a(href="#") Krupp KMK 2020
              .grid-col-xs-6.grid-col-md-4
                h2.h4.list-title 90 to 120 Ton
                ul.list.list-of-columns
                  li
                    a(href="#") Valla 180 E
                  li
                    a(href="#") Ormig T33
                  li
                    a(href="#") Grove model 24
                  li
                    a(href="#") Kobelco RK 70
          .grid-col-xs-12.grid-col-lg-5
            .content-sidebar.is-hidden.is-lg-inline-visible
              include _molecules/info-box
  include _organisms/footer