extends _modules/layout
block title
  - title = "Heavy about"
block body
  - isHeavyTransport = true
  - isHeavyAbout = true
  //wrapper starts
  .wrapper(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    article.promo.promo-heavy-transport
      .promo-content
        .promo-mobile-image
          img(src="images/backgrounds/bg-promo.jpg" alt="image description").responsive-img.scalable-img.is-lg-hidden
          h1.promo-heading.heading-complementary HEAVY TRANSPORT
        p.lead An aerial work platform  elevating work platform or mobile elevating work platformis a mechanical device used to provide temporary access for people or equipment to inaccessible areas, usually at height. There are distinct types of mechanized access platforms and the individual types
        .h4.heading-block
          a(href="tel:+97239597700").heading-complementary.promo-sub-heading Customer Service  +972 3 9597700
        a(href="heavy-order.html").btn.btn-primary.btn-long.btn-with-shadow Heavy Transport Order
    main(data-shifted-elements)
      .text-center
        h2.h3.heading-with-border Choose an Heavy Transport Type
      ul.list.list-with-thumbnails.fixed-width.grid-row
        li.grid-col-lg-2
          a(href="heavy-self-loaders.html")
            figure.thumbnail
              img(src="images/content/img-thumbnail-4.jpg" alt="image description" width="120" height="120").responsive-img
              figcaption.thumbnail-caption SELF LOADER CRANES
        li.grid-col-lg-2
          a(href="heavy-trailers.html")
            figure.thumbnail
              img(src="images/content/img-thumbnail-5.jpg" alt="image description" width="120" height="120").responsive-img
              figcaption.thumbnail-caption TRAILERS
        li.grid-col-lg-2
          a(href="heavy-low-bed.html")
            figure.thumbnail
              img(src="images/content/img-thumbnail-6.jpg" alt="image description" width="120" height="120").responsive-img
              figcaption.thumbnail-caption LOW BED TRAILERS
        li.grid-col-lg-2
          a(href="heavy-telescopic.html")
            figure.thumbnail
              img(src="images/content/img-thumbnail-7.jpg" alt="image description" width="120" height="120").responsive-img
              figcaption.thumbnail-caption TELESCOPIC HANDLERS
        li.grid-col-lg-2
          a(href="heavy-forklifts.html")
            figure.thumbnail
              img(src="images/content/img-thumbnail-7.jpg" alt="image description" width="120" height="120").responsive-img
              figcaption.thumbnail-caption FORKLIFTS
        li.grid-col-lg-2
          a(href="heavy-special.html")
            figure.thumbnail
              img(src="images/content/img-thumbnail-7.jpg" alt="image description" width="120" height="120").responsive-img
              figcaption.thumbnail-caption SPECIAL WORKS
  include _organisms/footer