extends _modules/layout
block title
  - title = "Heavy low bed"
block body
  - isHeavyTransport = true
  - isHeavyLowBed = true
  //wrapper starts
  .wrapper(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    main.content(data-shifted-elements)
      .container
        header.content-header
          ul.list.list-inline.list-delimited.breadcrumbs
            li
              a(href="index.html") Avi cranes
            li
              a(href="heavy-about.html")
                span.is-lg-hidden heavy transport
                span.is-hidden.is-lg-inline-visible heavy transport
            li Low Bed Trailers
          h1 Low Bed Trailers
        .two-column-layout
          .grid-col-xs-12.grid-col-lg-7.no-side-indents
            span.separator.is-hidden.is-lg-visible.left
            .content-main
              p Hydraulic cranes are usually composed of a hydraulic outriggers, a boom hoist or a lift cylinders, an auxiliary and a main hoist, a hell and base section, a telescoping section, a dynamometer for the weight, a main boom, a whip line, an auxiliary hook, a hook, a hoist line and a boom extension markings.
              .product-thumbnail-wrapper
                .product-thumbnail
                  a(href="#")
                    img(src="images/content/img-trailers-1.jpg" width="214" height="38" alt="image description").responsive-img
                  a(href="#")
                    h2.h5.big.product-thumbnail-heading Low Bed Trailers
                  a(href="#").btn.btn-primary.btn-sm TECHNICAL DATA
                .product-thumbnail
                  a(href="#")
                    img(src="images/content/img-trailers-2.jpg" width="219" height="42" alt="image description").responsive-img
                  a(href="#")
                    h2.h5.big.product-thumbnail-heading SPECIAL TRAILERS
                  a(href="#").btn.btn-primary.btn-sm TECHNICAL DATA
                .product-thumbnail
                  a(href="#")
                    img(src="images/content/img-trailers-3.jpg" width="86" height="29" alt="image description").responsive-img
                  a(href="#")
                    h2.h5.big.product-thumbnail-heading MODULAR ROWS Trailers
                  a(href="#").btn.btn-primary.btn-sm TECHNICAL DATA
                .product-thumbnail
                  a(href="#")
                    img(src="images/content/img-trailers-4.jpg" width="229" height="46" alt="image description").responsive-img
                  a(href="#")
                    h2.h5.big.product-thumbnail-heading OTHER MODULAR Trailers
                  a(href="#").btn.btn-primary.btn-sm TECHNICAL DATA
          .grid-col-xs-12.grid-col-lg-5
            .content-sidebar.is-hidden.is-lg-inline-visible
              figure.info-box
                img(src="images/content/img-box-info-1.jpg" width="428" height="618" alt="image description").responsive-img.scalable-img
                figcaption.info-box-caption
                  a(href="#").btn.btn-primary ORDER A LOW BED TRAILER
  include _organisms/footer