include _atoms/text/text
doctype html
html(lang='en')
    head
        title Jades12
    body
        +text(textLorem)
        +text(textBig)
        //+button(button, 'mod')
        //+button(buttonFooter, 'mod', 'mod2')
        //+button()