extends _modules/layout
block title
  - title = "AVI Cranes home page"
block body
  - isHomePage = true
  //wrapper starts
  .wrapper(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    main(data-shifted-elements)
      .promo-main
        .promo-main-content
          img(src="images/content/img-award.png" width="86" height="68" alt="image description").is-xl-visibility-hidden
          img(src="images/content/img-award-desktop.png" width="130" height="101" alt="image description").is-visibility-hidden.is-xl-visibility-visible
          h1.promo-main-heading Avi Cranes is the leading cranes company in the<br class="is-xl-hidden"> lifting services Local & Worldwide
          a(href="about-template.html").promo-main-cta Learn About Us
        footer.promo-main-footer
          .container.container-narrow
            .grid-row.no-bottom-indent
              .grid-col-xs-12.grid-col-xl-4
                .section-description
                  h2.heading-main.section-description-heading CRANES DIVISION
                  p An aerial work platform elevating work platform or mobile elevating work platformis a mechanical device used to provide temporary access for people or equipment to inaccessible areas, usually at height. There are distinct types of mechanized.
                  div
                    a(href="cranes-about.html") Learn about our cranes division
                  a(href="cranes-order.html").btn.btn-primary.btn-sm ORDER A CRANE
              .grid-col-xs-12.grid-col-xl-4
                .section-description.col-1
                  h2.heading-main.section-description-heading HEAVY TRANSPORT
                  p An aerial work platform elevating work platform or mobile elevating work platformis a mechanical device used to provide temporary access for people or equipment to inaccessible areas, usually at height. There are distinct types of mechanized.
                  div
                    a(href="cranes-about.html") Learn about our heavy transport
                  a(href="cranes-order.html").btn.btn-primary.btn-sm TRANSPORT ORDER
              .grid-col-xs-12.grid-col-xl-4
                .section-description.col-2
                  h2.heading-main.section-description-heading ACCESS PLATFORMS
                  p An aerial work platform elevating work platform or mobile elevating work platformis a mechanical device used to provide temporary access for people or equipment to inaccessible areas, usually at height. There are distinct types of mechanized.
                  div
                    a(href="cranes-about.html") Learn about our access platforms
                  a(href="cranes-order.html").btn.btn-primary.btn-sm ORDER AN ACCESS PLATFORM
      .container.container-narrow
        .grid-row.no-bottom-indent
          .grid-col-xs-12.grid-col-xl-7
            article.slideshow-mini.full-width
              h2.accessibility Our projects
              header.slideshow-mini-header
                .item-table
                  .item-cell
                    h2.heading-main WHAT WE DO
              div(data-slideshow-holder).slideshow-mini-content
                ul.slideset(data-slideshow)
                  li
                    .slideshow-mini-illustrate
                      button(data-slideshow-prev).btn-prev
                      img(src="images/content/img-slideshow-mini-1.jpg" width="320" height="242" alt="image description").responsive-img
                      button(data-slideshow-next).btn-next
                    aside.slideshow-mini-description
                      h3.slideshow-mini-description-heading A JOB THIS BIG TAKES MORE tHAN jUST LIFTING POWER
                      a(href="#") Read More
                  li
                    .slideshow-mini-illustrate
                      button(data-slideshow-prev).btn-prev
                      img(src="images/content/img-slideshow-mini-1.jpg" width="320" height="242" alt="image description").responsive-img
                      button(data-slideshow-next).btn-next
                    aside.slideshow-mini-description
                      h3.slideshow-mini-description-heading A JOB THIS BIG TAKES MORE tHAN
                      a(href="#") Read More 2
                  li
                    .slideshow-mini-illustrate
                      button(data-slideshow-prev).btn-prev
                      img(src="images/content/img-slideshow-mini-1.jpg" width="320" height="242" alt="image description").responsive-img
                      button(data-slideshow-next).btn-next
                    aside.slideshow-mini-description
                      h3.slideshow-mini-description-heading A JOB THIS BIG TAKES MORE tHAN jUST 2
                      a(href="#") Read More 3
          .grid-col-xs-12.grid-col-xl-4.grid-prepend-xl-1
            .add-info-body.add-info-body-single
              h2.heading-main.heading-main-alternative CUSTOMER SERVICE
                small.heading-block +972 3 556 1813
              .heading-main-description
                p We will be happy to help you choose the right model for your need and place an easy order
  include _organisms/footer