extends _modules/layout
block body
  //wrapper starts
  #wrapper
    //header starts
    header#header &nbsp;
    //header ends
    //main starts
    #main &nbsp;
    //main ends
    //footer starts
    footer#footer &nbsp;
    //footer ends
  //wrapper ends