extends _modules/layout
block title
  - title = "Order template"
block body
  - isAccessPlatforms = true
  - isAccessPlatformsBuyUsed = true
  //wrapper starts
  .wrapper(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    main.content(data-shifted-elements)
      .container
        header.content-header
          ul.list.list-inline.list-delimited.breadcrumbs
            li
              a(href="index.html") Avi cranes
            li
              a(href="access-platforms-about.html")
                span.is-lg-hidden access platforms
                span.is-hidden.is-lg-inline-visible access platforms
            li Buy an access platform
          h1 Buy Used Access Platform
        .two-column-layout
          span.separator.is-hidden.is-lg-visible
          .grid-col-xs-12.grid-col-xl-7.no-side-indents
            .content-main.xl
              ul(data-tab-container).list.tabs-nav
                li.tab
                  span(data-tab-link="#tab1") Rent
                li.tab.tab-is-active
                  span(data-tab-link="#tab2") Buy
              section.tabs-content
                h2.accessibility Tabs content
                article(id="tab1").tab-pane
                  h3.accessibility tab 1 title
                  form(novalidate data-form-with-validation)
                    fieldset
                      .grid-row.no-bottom-indent
                        .grid-col-xs-12.grid-col-xl-7
                          .form-group
                            label(for="form-element-1") type
                            .select-holder.form-element
                              select(id="form-element-1")
                                option 160 ATG Diesel Scissors 1995
                                option 161 ATG Diesel Scissors 1995
                                option 162 ATG Diesel Scissors 1995
                      .form-group
                        label(for="contact-us-2") information we should know
                        textarea(cols="30" rows="10" id="contact-us-2" placeholder="We need the platform to be strong, and this is very urgent!").form-element.small-textarea
                      .grid-row.no-bottom-indent
                        .grid-col-xs-12.grid-col-lg-6
                          .form-group
                            label(for="order-3").required Name
                            input(type="text" id="order-3" placeholder="Eyal Levy" data-required-form-element).form-element
                        .grid-col-xs-12.grid-col-lg-6
                          .form-group
                            label(for="order-4") Company
                            input(type="text" id="order-4" placeholder="Solel Bone").form-element
                      .form-group
                        label(for="order-5").required Phone / Email
                        input(type="email" id="order-5" placeholder="eyal@sololbone.co.il" data-required-form-element).form-element
                      .form-group.block-with-centered-element
                        .grid-row
                          .grid-col-xs-12.grid-col-xl-8
                            button(type="submit").btn.btn-primary.btn-lg Get an offer
                          .grid-col-xs-12.grid-col-xl-4
                            small.required.centered-element.right.xl.block-limited-by-half Mandatory field
                article(id="tab2").tab-pane
                  h3.accessibility tab 2 title
                  .form-group
                    div(data-tab-container)
                      .radio-inline
                        label Condition
                      .radio-inline.tab-is-active
                        span(data-tab-link="#tab-3")
                          input.radio-input(type="radio" name="ui-radio-1" id="ui-radio-1" checked)
                          label.radio-label(for="ui-radio-1") New
                      .radio-inline
                        span(data-tab-link="#tab-4")
                          input.radio-input(type="radio" name="ui-radio-1" id="ui-radio-2")
                          label.radio-label(for="ui-radio-2") Used
                  form(id="tab-3" novalidate data-form-with-validation)
                    .form-group
                      label(for="contact-us-1") information we should know
                      textarea(cols="30" rows="10" id="contact-us-1" placeholder="We need the platform to be strong, and this is very urgent!").form-element.small-textarea
                    .grid-row.no-bottom-indent
                      .grid-col-xs-12.grid-col-lg-6
                        .form-group
                          label(for="order-1").required Name
                          input(type="text" id="order-1" placeholder="Eyal Levy" data-required-form-element).form-element
                      .grid-col-xs-12.grid-col-lg-6
                        .form-group
                          label(for="order-2") Company
                          input(type="text" id="order-2" placeholder="Solel Bone").form-element
                    .form-group
                      label(for="contact-us-4").required Phone / Email
                      input(type="email" id="contact-us-4" placeholder="eyal@sololbone.co.il" data-required-form-element).form-element
                    .form-group.block-with-centered-element
                      .grid-row
                        .grid-col-xs-12.grid-col-xl-8
                          button(type="submit").btn.btn-primary.btn-lg Get an offer
                        .grid-col-xs-12.grid-col-xl-4
                          small.required.centered-element.right.xl.block-limited-by-half Mandatory field
                  form(id="tab-4" novalidate data-form-with-validation)
                    .grid-row.no-bottom-indent
                      .grid-col-xs-12.grid-col-xl-7
                        .form-group
                          label(for="form-element-12") type
                          .select-holder.form-element
                            select(id="form-element-12")
                              option 160 ATG Diesel Scissors 1995
                              option 161 ATG Diesel Scissors 1995
                              option 162 ATG Diesel Scissors 1995
                    .form-group
                      label(for="contact-us-1") information we should know
                      textarea(cols="30" rows="10" id="contact-us-11" placeholder="We need the platform to be strong, and this is very urgent!").form-element.small-textarea
                    .grid-row.no-bottom-indent
                      .grid-col-xs-12.grid-col-lg-6
                        .form-group
                          label(for="order-1").required Name
                          input(type="text" id="order-11" placeholder="Eyal Levy" data-required-form-element).form-element
                      .grid-col-xs-12.grid-col-lg-6
                        .form-group
                          label(for="order-2") Company
                          input(type="text" id="order-12" placeholder="Solel Bone").form-element
                    .form-group
                      label(for="contact-us-4").required Phone / Email
                      input(type="email" id="contact-us-14" placeholder="eyal@sololbone.co.il" data-required-form-element).form-element
                    .form-group.block-with-centered-element
                      .grid-row
                        .grid-col-xs-12.grid-col-xl-8
                          button(type="submit").btn.btn-primary.btn-lg Get an offer
                        .grid-col-xs-12.grid-col-xl-4
                          small.required.centered-element.right.xl.block-limited-by-half Mandatory field
          .grid-col-xs-12.grid-col-xl-5.no-side-indents
            .content-sidebar.max-width
              aside.add-info
                img(src="images/content/img-content-sidebar-1.png" width="310" height="534" alt="image description").is-visibility-hidden.is-xl-visibility-visible
                img(src="images/content/img-content-sidebar-1-min.png" width="155" height="267" alt="image description").is-visibility-visible.is-xl-visibility-hidden
                .add-info-body
                  h2.title Customer Service
                  span.h4.sub-title +972 3 959 7733
                  p We will be happy to help you choose the right model for your need and place an easy order
                footer.add-info-footer
                  small BY LAW, AN ACCES PLATFORM OPERATOR MUST Practice for Working Safely at Heights.LEARN ABOUT OUR SAFETY CENTER
  include _organisms/footer