extends _modules/layout
block title
  - title = "Project page"
block body
  - isProject = true
  //wrapper starts
  .wrapper(data-add-class-parent data-nav-toggle-parent)
    include _organisms/header
    main(data-shifted-elements).content.no-side-indents
      .container.container-narrow
        header.content-header.text-center.small-bottom-indent
          ul.list.list-inline.list-delimited.breadcrumbs.is-centered
            li
              a(href="index.html") Avi cranes
            li
              a(href="project-main.html")
                span.is-lg-hidden Projects
                span.is-hidden.is-lg-inline-visible Projects
            li all projects
          h1.is-hidden.is-lg-visible Our Selected Projects
          blockquote(cite="#").blockquote.is-lg-hidden
            q.quote JOB THIS BIG TAKES MORE THAN JUST LIFTING POWER
            cite.cite Cranes Lifting Project
        article.slideshow.full-width
          h2.accessibility All Projects
          header.slideshow-header
            .item-table
              .item-cell
                a(href="#").btn-link-back
                  i.ico-back
                  span Back to Project
          div(data-slideshow-holder).slideshow-content
            button(data-slideshow-prev).btn-prev.ico-chevron-left
            ul.slideset(data-slideshow)
              li
                .video-box
                  div(data-video="//www.youtube.com/embed/dM3qsA0xhls?autoplay=1").video-box-content
                    iframe(width="560" height="315" allowfullscreen)
                  a(href="#" data-play-button)
                    img(src="images/content/img-slider-1.jpg" width="1112" height="444" alt="image description").scalable-img.responsive-img
                    i.ico-play-min
              li
                .video-box
                  div(data-video="//www.youtube.com/embed/dM3qsA0xhls?autoplay=1").video-box-content
                    iframe(width="560" height="315" allowfullscreen)
                  a(href="#" data-play-button)
                    img(src="images/content/img-slider-1.jpg" width="1112" height="444" alt="image description").scalable-img.responsive-img
                    i.ico-play-min
              li
                .video-box
                  div(data-video="//www.youtube.com/embed/dM3qsA0xhls?autoplay=1").video-box-content
                    iframe(width="560" height="315" allowfullscreen)
                  a(href="#" data-play-button)
                    img(src="images/content/img-slider-1.jpg" width="1112" height="444" alt="image description").scalable-img.responsive-img
                    i.ico-play-min
            button(data-slideshow-next).btn-next.ico-chevron-right
        .content-main.content-main-narrow
          .grid-row
            .grid-col-xs-12.grid-col-lg-4.no-side-indents
              blockquote(cite="#").blockquote.is-hidden.is-lg-visible
                q.quote JOB THIS BIG TAKES MORE THAN JUST LIFTING POWER
                cite.cite Cranes Project
            .grid-col-xs-12.grid-col-lg-7.grid-prepend-lg-1
              .alternative-text
                p To overcome the challenges of weight and space, Mammoet sent in its Mammoet Sliding Gantry (MSG), along with a crew of 25 experts.
                p The MSG-80 is a 3,600-ton capacity containerized lifting device operated with strand jacks. At the time, it was the only land crane in the world capable of lifting weights of this magnitude. Considering its capacity, it has a relatively compact design and slewing radius. Perfect for operating in the congested Oryx facility.
                p Mammoet's approach and specialized equipment made it possible to position the reactors right in the middle of the surrounding infrastructure.
                p Originally scheduled for installation at the beginning of the construction, the reactors ended up being the very last modules to be installed. And yet the overall planning wasn't affected. The Oryx project demonstrates that smart engineering can indeed move time.
  include _organisms/footer