extends _modules/layout
block body
  //wrapper starts
  #wrapper(data-add-class-parent)
    header.ui-header
      .ui-container
        .logo.ui-logo Sliceart Creative &amp; Smart
        strong.ui-header-title My Project Styleguide
    //ui holder starts
    main.ui-main
      .ui-container
        #color-palette
          strong.ui-main-title Color Palette
          .grid-row
            .grid-col-sm-12.grid-col-lg-4
              .ui-color-box.ui-color-primary
                .ui-color-heading Primary Color
                .ui-color-box-example
            .grid-col-sm-12.grid-col-lg-4
              .ui-color-box.ui-color-primary-light
                .ui-color-heading Primary Light Color
                .ui-color-box-example
            .grid-col-sm-12.grid-col-lg-4
              .ui-color-box.ui-color-success
                .ui-color-heading Success Color
                .ui-color-box-example
            .grid-col-sm-12.grid-col-lg-4
              .ui-color-box.ui-color-info
                .ui-color-heading Info Color
                .ui-color-box-example
            .grid-col-sm-12.grid-col-lg-4
              .ui-color-box.ui-color-warning
                .ui-color-heading Warning Color
                .ui-color-box-example
            .grid-col-sm-12.grid-col-lg-4
              .ui-color-box.ui-color-danger
                .ui-color-heading Danger Color
                .ui-color-box-example
        #typography
          strong.ui-main-title Typography
          #headings
            strong.ui-title Headings
            h1 Heading 1
            h2 Heading 2
            h3 Heading 3
            h4 Heading 4
            h5 Heading 5
            h6 Heading 6
            strong.ui-title Headings with secondary text
            h1
              | Heading 1
              small
                |  Secondary Text
            h2
              | Heading 2
              small
                |  Secondary Text
            h3
              | Heading 3
              small
                |  Secondary Text
            h4
              | Heading 4
              small
                |  Secondary Text
            h5
              | Heading 5
              small
                |  Secondary Text
            h6
              | Heading 6
              small
                |  Secondary Text
          #paragraphs
            strong.ui-title Paragraphs
            strong.ui-sub-title Body copy
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore iusto autem harum quisquam assumenda optio, officiis nisi culpa labore error earum cupiditate modi dolorum vel consequatur! Pariatur, quae, suscipit.
            strong.ui-sub-title Lead body copy
            p.lead
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore iusto autem harum quisquam assumenda optio, officiis nisi culpa labore error earum cupiditate modi dolorum vel consequatur! Pariatur, quae, suscipit.
        #atoms
          strong.ui-main-title Atoms
          #buttons
            strong.ui-title Buttons
            strong.ui-sub-title Button color variations
            a(href="#").btn.btn-default.btn-block Default button
            a(href="#").btn.btn-primary.btn-block Primary button
            a(href="#").btn.btn-success.btn-block Success button
            a(href="#").btn.btn-info.btn-block Info button
            a(href="#").btn.btn-warning.btn-block Warning button
            a(href="#").btn.btn-danger.btn-block Danger button
            strong.ui-sub-title Button layout variations
            a(href="#").btn.btn-primary Inline button
            a(href="#").btn.btn-primary Inline button
            a(href="#").btn.btn-primary.btn-block Block button
            strong.ui-sub-title Button size variations
            a(href="#").btn.btn-primary.btn-sm Small button
            a(href="#").btn.btn-primary.btn-md Medium button
            a(href="#").btn.btn-primary.btn-lg Large button
          #form-elements
            strong.ui-title Form elements
            strong.ui-sub-title Input types
            input(type="text" placeholder="Text Input").form-element
            input(type="password" placeholder="Password input").form-element
            input(type="email" placeholder="Email input").form-element
            input(type="url" placeholder="Url input").form-element
            input(type="tel" placeholder="Tel input").form-element
            input(type="search" placeholder="Search input").form-element
            include _atoms/checkbox
            include _atoms/radio
            strong.ui-sub-title Error input
            input(type="text" placeholder="Text Input").form-element.has-error
            strong.ui-sub-title Textarea
            textarea(cols="30" rows="10" placeholder="Textarea").form-element
            strong.ui-sub-title Select
            select.form-element
              option Default select look
        #templates
          strong.ui-main-title Templates
          strong.ui-sub-title Layout
          #layout
            .grid-row
              .grid-col-lg-12
                .pre .grid-col-lg-12
            .grid-row
              .grid-col-lg-6
                .pre .grid-col-lg-6
              .grid-col-lg-6
                .pre .grid-col-lg-6
            .grid-row
              .grid-col-lg-5
                .pre .grid-col-lg-5
              .grid-col-lg-7
                .pre .grid-col-lg-7
            .grid-row
              .grid-col-lg-4
                .pre .grid-col-lg-4
              .grid-col-lg-8
                .pre .grid-col-lg-8
            .grid-row
              .grid-col-lg-3
                .pre .grid-col-lg-3
              .grid-col-lg-9
                .pre .grid-col-lg-9
            .grid-row
              .grid-col-lg-2
                .pre .grid-col-lg-2
              .grid-col-lg-10
                .pre .grid-col-lg-10
            .grid-row
              .grid-col-lg-1
                .pre .grid-col-lg-1
              .grid-col-lg-11
                .pre .grid-col-lg-11
    aside.ui-sidebar
      button.btn.btn-default.btn-sidebar-toggle.is-xl-hidden(data-add-class)
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .frame
        .scroll-holder
          h3
            a(href="#color-palette") Color Palette
          h3
            a(href="#typography") Typography
          ul
            li
              a(href="#headings") Headings
            li
              a(href="#paragraphs") Paragraphs
          h3
            a(href="#atoms") Atoms
          ul
            li
              a(href="#buttons") Buttons
            li
              a(href="#form-elements") Form elements
            li
              a(href="#icons") Icons
            li
              a(href="#logo") Logo
          h3
            a(href="#molecules") Molecules
          ul
            li
              a(href="#block") Block
          h3
            a(href="#organisms") Organisms
          ul
            li
              a(href="#tabs") Tabs
          h3
            a(href="#templates") Templates
          ul
            li
              a(href="#layout") Layout
          h3
            a(href="#pages") Pages
          ul
            li
              a(href="#example-page") Example page
    //ui holder ends
  //wrapper ends
