- var projectName = 'AVI Cranes'
- var isCranesDivision = false
- var isHeavyTransport = false
- var isAccessPlatforms = false
- var isProjects = false
- var isAboutUs = false
- var isSafety = false
- var isContact = false
- var isAboutVision = false
- var isAboutJobs = false
- var isCranesCrawlers = false
- var isAboutHistory = false
- var isContactUs = false
- var isAboutUsPage = false
- var isCranesAbout = false
- var isOrderTemplate = false
- var isProjectPage = false
- var isAboutTemplate = false
- var isAccessPlatformsPage = false
- var isProjectMain = false
- var isAccessPlatformsAbout = false
- var isAccessPlatformsBuyUsed = false
- var isAccessPlatformsForSale = false
- var isAccessPlatformsScissors = false
- var isAccessPlatformsTruckMounted = false
- var isAccessPlatformsVertical = false
- var isCranesForSale = false
- var isCranesHydraulic = false
- var isCranesOrder = false
- var isCranesRoughTerrain = false
- var isHeavyForklifts = false
- var isHeavyAbout = false
- var isHeavyLowBed = false
- var isHeavyOrder = false
- var isHeavySelfLoaders = false
- var isHeavySpecial = false
- var isHeavyTelescopic = false
- var isHeavyTrailers = false
- var isHomePage = false