figure.info-box
  img(src="images/content/img-box-info-1.jpg" width="428" height="618" alt="image description").responsive-img.scalable-img
  figcaption.info-box-caption
    a(href="#").btn.btn-primary ORDER A CRANE