ul.list.list-vertical.list-expanding
  li(data-add-class-parent)
    span(data-add-class) Assistant Cranes Opertaor
      em.list-info Rishon Lezion
    a(href="#").btn.btn-md.btn-primary APPLY
    ul(id="list-tab-1").list.sub-list-expanding
      li Offshore Crane Operator’s Certificate
      li Helicopter Landing Officer, HLO, certificate
      li CAA Radio Operator Certificate
      li.list-cta
        a(href="#").btn.btn-lg.btn-primary APPLY
  li(data-add-class-parent)
    span(data-add-class) Assistant Barge Engineer & Barge Engineer
      em.list-info Rishon Lezion
    a(href="#").btn.btn-md.btn-primary APPLY
    ul(id="list-tab-2").list.sub-list-expanding
      li Offshore Crane Operator’s Certificate
      li Helicopter Landing Officer, HLO, certificate
      li CAA Radio Operator Certificate
      li.list-cta
        a(href="#").btn.btn-lg.btn-primary APPLY
  li(data-add-class-parent)
    span(data-add-class) Logistics Coordinator
      em.list-info Tel Aviv
    a(href="#").btn.btn-md.btn-primary APPLY
    ul(id="list-tab-3").list.sub-list-expanding
      li Offshore Crane Operator’s Certificate
      li Helicopter Landing Officer, HLO, certificate
      li CAA Radio Operator Certificate
      li.list-cta
        a(href="#").btn.btn-lg.btn-primary APPLY
  li(data-add-class-parent)
    span(data-add-class) Assistant Electrican & Electrician
      em.list-info Rishon Lezion
    a(href="#").btn.btn-md.btn-primary APPLY
    ul(id="list-tab-4").list.sub-list-expanding
      li Offshore Crane Operator’s Certificate
      li Helicopter Landing Officer, HLO, certificate
      li CAA Radio Operator Certificate
      li.list-cta
        a(href="#").btn.btn-lg.btn-primary APPLY
  li(data-add-class-parent)
    span(data-add-class) Assistant Cranes Opertaor
      em.list-info Rishon Lezion
    a(href="#").btn.btn-md.btn-primary APPLY
    ul(id="list-tab-5").list.sub-list-expanding
      li Offshore Crane Operator’s Certificate
      li Helicopter Landing Officer, HLO, certificate
      li CAA Radio Operator Certificate
      li.list-cta
        a(href="#").btn.btn-lg.btn-primary APPLY
  li(data-add-class-parent)
    span(data-add-class) Assistant Barge Engineer & Barge Engineer
      em.list-info Rishon Lezion
    a(href="#").btn.btn-md.btn-primary APPLY
    ul(id="list-tab-6").list.sub-list-expanding
      li Offshore Crane Operator’s Certificate
      li Helicopter Landing Officer, HLO, certificate
      li CAA Radio Operator Certificate
      li.list-cta
        a(href="#").btn.btn-lg.btn-primary APPLY