nav.nav-main(data-nav-main)
  .nav-main-content
    .left-side-menu
      ul.list.list-inline
        li(data-submenu-toggle)
          a(href="index.html").is-xxl-hidden HOME
        li(data-submenu-toggle)&attributes(isCranesDivision ? {'class': 'is-active'}:{})
          a(href="cranes-about.html") CRANES DIVISION
          ul.list-sub-list.list.list-vertical
            li
              a(href="cranes-about.html")&attributes(isCranesAbout ? {'class': 'is-current-page'}:{}) about
            li
              a(href="cranes-rough-terrain.html")&attributes(isCranesRoughTerrain ? {'class': 'is-current-page'}:{}) rough terrain
            li
              a(href="cranes-hydraulic.html")&attributes(isCranesHydraulic ? {'class': 'is-current-page'}:{}) hydraulic
            li
              a(href="cranes-crawlers.html")&attributes(isCranesCrawlers ? {'class': 'is-current-page'}:{}) crawler
            li
              a(href="cranes-for-sale.html")&attributes(isCranesForSale ? {'class': 'is-current-page'}:{}) FOR SALE
            li
              a(href="cranes-order.html")&attributes(isCranesOrder ? {'class': 'is-current-page'}:{}) order
        li(data-submenu-toggle)&attributes(isHeavyTransport ? {'class': 'is-active'}:{})
          a(href="heavy-about.html") HEAVY TRANSPORT
          ul.list-sub-list.list.list-vertical
            li
              a(href="heavy-about.html")&attributes(isHeavyAbout ? {'class': 'is-current-page'}:{}) about
            li
              a(href="heavy-self-loaders.html")&attributes(isHeavySelfLoaders ? {'class': 'is-current-page'}:{}) Self LoadER Cranes
            li
              a(href="heavy-trailers.html")&attributes(isHeavyTrailers ? {'class': 'is-current-page'}:{}) Trailers
            li
              a(href="heavy-low-bed.html")&attributes(isHeavyLowBed ? {'class': 'is-current-page'}:{}) Low Bed Trailers
            li
              a(href="heavy-telescopic.html")&attributes(isHeavyTelescopic ? {'class': 'is-current-page'}:{}) Telescopic handlers
            li
              a(href="heavy-forklifts.html")&attributes(isHeavyForklifts ? {'class': 'is-current-page'}:{}) Forklifts
            li
              a(href="heavy-special.html")&attributes(isHeavySpecial ? {'class': 'is-current-page'}:{}) SPECIAL WORKS
        li(data-submenu-toggle)&attributes(isAccessPlatforms ? {'class': 'is-active'}:{})
          a(href="access-platforms-about.html") ACCESS PLATFORMS
          ul.list-sub-list.list.list-vertical
            li
              a(href="access-platforms-about.html")&attributes(isAccessPlatformsAbout ? {'class': 'is-current-page'}:{}) about
            li
              a(href="access-platforms-scissors.html")&attributes(isAccessPlatformsScissors ? {'class': 'is-current-page'}:{}) SCISSORS
            li
              a(href="access-platforms.html")&attributes(isAccessPlatformsPage ? {'class': 'is-current-page'}:{}) BOOM LIFTS
            li
              a(href="access-platforms-vertical.html")&attributes(isAccessPlatformsVertical ? {'class': 'is-current-page'}:{}) VERTICAL
            li
              a(href="access-platforms-truck-mounted.html")&attributes(isAccessPlatformsTruckMounted ? {'class': 'is-current-page'}:{}) TRUCK MOUNTED
            li
              a(href="access-platforms-for-sale.html")&attributes(isAccessPlatformsForSale ? {'class': 'is-current-page'}:{}) FOR SALE
            li
              a(href="access-platforms-buy-used.html")&attributes(isAccessPlatformsBuyUsed ? {'class': 'is-current-page'}:{}) order
        li(data-submenu-toggle)&attributes(isProject ? {'class': 'is-active'}:{})
          a(href="project-main.html") PROJECTS
    .right-side-menu
      ul.list.list-inline
        li(data-submenu-toggle)&attributes(isAboutUs ? {'class': 'is-active'}:{})
          a(href="about-template.html") ABOUT US
          ul.list-sub-list.list.list-vertical
            li
              a(href="about-vision.html")&attributes(isAboutVision ? {'class': 'is-current-page'}:{}) THE VISION
            li
              a(href="about-template.html")&attributes(isAboutUsPage ? {'class': 'is-current-page'}:{}) ABOUT US
            li
              a(href="about-history.html")&attributes(isAboutHistory ? {'class': 'is-current-page'}:{}) HISTORY
            li
              a(href="about-jobs.html")&attributes(isAboutJobs ? {'class': 'is-current-page'}:{}) JOBs
            li
              a(href="contact-us.html")&attributes(isContactUs ? {'class': 'is-current-page'}:{}) CONTACT
        li(data-submenu-toggle)&attributes(isSafety ? {'class': 'is-active'}:{})
          a(href="safety.html") SAFETY
        li(data-submenu-toggle)&attributes(isContactUs ? {'class': 'is-active'}:{})
          a(href="contact-us.html") CONTACT
        li.is-visibility-hidden.is-xxl-visibility-visible
          a(href="tel:+972-3-557-2222").is-not-link +972-3-557-2222
        li(data-submenu-toggle).is-visibility-hidden.is-xxl-visibility-visible
          a(href="#").with-caret HEBREW
          ul.list-sub-list.list.list-vertical
            li
              a(href="#") English
            li
              a(href="#") French
            li
              a(href="#") German
    if isHomePage
      .logo.header-main-logo.is-hidden.is-xxl-visible AVI Cranes
    else
      a(href="index.html").logo.header-main-logo.is-hidden.is-xxl-visible AVI Cranes
  .main-info
    a(href="index.html").ico-logo-min-red
    address.address
      ul.list.grid-row
        li.grid-col-xs-12 4 Katzenelson
          span.is-xxl-hidden &nbsp;St.
          span.is-hidden.is-xxl-inline-visible &nbsp;Street
          br
          | 58016 Azor, Israel
        li.grid-col-lg-12 Phone: +972-3-5561813
        li.grid-col-lg-12 Fax: +972-3-5561799