.main-info
  a(href="#").logo-alternative
  address.address
    ul.list.grid-row
      li 4 Katzenelson
        span.is-xl-hidden &nbsp;St.
        span.is-hidden.is-xl-inline-visible &nbsp;Street
        br.is-hidden.is-xl-inline-visible
        | &nbsp;58016 Azor, Israel
      li
        a(href="tel:97235561813") Phone: +972-3-5561813
        |&nbsp;&nbsp;
        a(href="tel:97235561799") Fax: +972-3-5561799